name: Autograder
on: [push]
jobs:
  grade:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Racket
      run: |
        sudo add-apt-repository ppa:plt/racket -y
        sudo apt-get update
        sudo apt-get install -y racket
    - name: Run tests
      run: raco test src/
